<% include ./partials/header %>
<div class="ui container very padded text mine">
    <h1><%=cars.name%></h1>
</div>
<div class="ui container raised very padded text segment">
        <p><%=cars.name%></p>
        <img src="<%=cars.image%>">
        <p><%=cars.about%></p>
        <p><%=cars.created%>
</div>

<% include ./partials/footer %>