<% include ./partials/header %>
<div class="ui container very padded text mine">
    <h1><%=cars.name%></h1>
</div>
<div class="ui container raised very padded text segment">
        <p><%=cars.name%></p>
        <img src="<%=cars.image%>">
        <p><%=cars.about%></p>
        <p><%=cars.created%>
        <br>
        <a href="/cars/<%=cars._id%>/edit" class="ui secondary button">Edit</a>
        <form action="/cars/<%=cars._id%>/delete?_method=DELETE" method="POST">
            <input type="submit" placeholder="Delete" value="Delete">
        </form>
</div>

<% include ./partials/footer %>